<div>
  <h1>Welcome {{this.role}}!!!</h1>
<button type="button" style="
  margin-left: 66%;
" (click)="signOut()">User Login Info / Sign out</button>
</div>
<br>
<br>
<div >
<button style="background-color: orange;position:relative;
left:10%;width: 25%">
  <a>Unassigned Claim</a><br>
  <h4>{{Unassigned_Claim}}</h4>
</button>

<button style="background-color: rgb(0, 170, 255);position:relative;
left:35%;width: 25%">
  <a>WIP</a><br>
  <h4>{{WIP}}</h4>
</button>

<button style="background-color: rgb(62, 240, 45);position:relative;
left:50%;width: 25%">
  <a>Completed Claim</a><br>
  <h4>{{Completed_Claim}}</h4>
</button>
</div>
<br><br>

<diV>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="cname">
      <th mat-header-cell *matHeaderCellDef> Client Name </th>
      <td mat-cell *matCellDef="let element"> {{element.cname}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="cno">
      <th mat-header-cell *matHeaderCellDef> Claim No. </th>
      <td mat-cell *matCellDef="let element"> {{element.cno}} </td>
    </ng-container>
  

    <ng-container matColumnDef="patientname">
      <th mat-header-cell *matHeaderCellDef> Patient Name </th>
      <td mat-cell *matCellDef="let element"> {{element.patientname}} </td>
    </ng-container>

    <ng-container matColumnDef="providername">
      <th mat-header-cell *matHeaderCellDef> Provider Name </th>
      <td mat-cell *matCellDef="let element"> {{element.providername}} </td>
    </ng-container>
  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Claim Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="allowedamt">
      <th mat-header-cell *matHeaderCellDef> Allowed Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.allowedamt}} </td>
    </ng-container>
  
    <ng-container matColumnDef="paidamt">
      <th mat-header-cell *matHeaderCellDef> Paid Amount </th>
      <td mat-cell *matCellDef="let element"> {{element.paidamt}} </td>
    </ng-container>
  
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> Last Comment </th>
      <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
    </ng-container>
  
    <ng-container matColumnDef="assignedto">
      <th mat-header-cell *matHeaderCellDef> Assigned To </th>
      <td mat-cell *matCellDef="let element"> {{element.assignedto}} </td>
    </ng-container>

    <ng-container matColumnDef="viewmore">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> <a href>view more</a> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
</diV>






<br>
<br>


<br>
<br><br>
<br>


<br>
<br>



<br>
<br>


<br>
<br>
<my-tabs>
  <my-tab [tabTitle]="'People'">
    <h3>List of People</h3>
    <people-list
      [people]="people"
      (addPerson)="onAddPerson()"
      (editPerson)="onEditPerson($event)">
    </people-list>
    <hr />
    <button class="btn btn-default" (click)="onOpenAbout()"><i class="glyphicon glyphicon-question-sign"></i> About this</button>
  </my-tab>
</my-tabs>

<ng-template let-person="person" #personEdit>
  <person-edit [person]="person" (savePerson)="onPersonFormSubmit($event)"></person-edit>
</ng-template>


<br>
<br>
<br>
<br>
<!-- <div>
  <span class="example-input-label"> Selected tab index: </span>
  <mat-form-field>
    <input matInput type="number" [formControl]="selected">
  </mat-form-field>
</div>

<div>
  <button mat-raised-button
          class="example-add-tab-button"
          (click)="addTab(selectAfterAdding.checked)">
    Add new tab
  </button>
  <mat-checkbox #selectAfterAdding> Select tab after adding </mat-checkbox>
</div>

<mat-tab-group [selectedIndex]="selected.value"
               (selectedIndexChange)="selected.setValue($event)">
  <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
    Contents for {{tab}} tab

    <button mat-raised-button
            class="example-delete-tab-button"
            [disabled]="tabs.length === 1"
            (click)="removeTab(index)">
      Delete Tab
    </button> -->
  <!-- </mat-tab> -->
<!-- </mat-tab-group> -->